::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

  // icon size responsive
  @media only screen and (max-width: 576px) {
    .fa-4x {
        font-size: 3em;
    }

    #categories .container {
        max-width: 100%;
    }
}