<section id="intro">
  <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
    <div class="container text-white text-center py-5 px-4 my-5">
      <div style="margin-top: 50px;">
        <h1 class="card-title h1-responsive pt-3 mb-2 font-bold"><strong>One man's trash is another man's treasure</strong></h1>
        <p class="mb-5">Sell your stuff that you do not need. who knows bla bla bla
        </p>
        <div class="mr-auto ml-auto" style="max-width: 300px">
          <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-2" style="color:aliceblue" type="text" placeholder="Search for items"
              aria-label="Search">
            <button mdbBtn size="md" gradient="peach" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="categories">
  <div class="container text-center mt-5">
    <h2><strong>Categories</strong></h2>
    <p class="mb-4">Explore another man's treasure</p>
    <div class="row mb-5">
      <div class="col-3">
        <i class="fa fa-television grey-text fa-4x mb-3"></i>
        <p>Consumer Electronic</p>
      </div>
      <div class="col-3">
        <i class="fa fa-television grey-text fa-4x mb-3"></i>
        <p>Computers</p>
      </div>
      <div class="col-3">
        <i class="fa fa-bed grey-text fa-4x mb-3"></i>
        <p>Home and Furniture</p>
      </div>
      <div class="col-3">
        <i class="fa fa-television grey-text fa-4x mb-3"></i>
        <p>Beauty, Health & Grocery</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-3">
        <i class="fa fa-television grey-text fa-4x mb-3"></i>
        <p>Clothing & Accessories</p>
      </div>
      <div class="col-3">
        <i class="fa fa-television grey-text fa-4x mb-3"></i>
        <p>Books, Sport & Hobbies</p>
      </div>
      <div class="col-3">
        <i class="fa fa-television grey-text fa-4x mb-3"></i>
        <p>Pets & Animals</p>
      </div>
      <div class="col-3">
        <i class="fa fa-car grey-text fa-4x mb-3"></i>
        <p>Cars & Automotives</p>
      </div>
    </div>
  </div>


</section>

<section id="trending-ads">
  <div class="container-fluid ">
    <div class="container text-center py-5">
      <h2 class="mb-4"><strong>Featured Ads</strong></h2>
      <div class="card-deck">
        <!-- Card -->
        <mdb-card>
          <div class="view overlay waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>
  
            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>
  
            <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
          </mdb-card-body>
        </mdb-card>
  
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>
  
            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>
  
            <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
          </mdb-card-body>
        </mdb-card>
  
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>
  
            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>
  
            <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</section>